*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#06070d;

color:#fff;

display:flex;

min-height:100vh;

overflow-x:hidden;

}

.sidebar{

width:260px;

height:100vh;

position:fixed;

left:0;

top:0;

background:rgba(255,255,255,.03);

backdrop-filter:blur(25px);

border-right:1px solid rgba(255,255,255,.08);

padding:30px;

}

.sidebar h2{

font-size:34px;

margin-bottom:45px;

font-weight:800;

}

.sidebar span{

color:#8f45ff;

}

.sidebar a{

display:flex;

align-items:center;

gap:15px;

padding:16px 20px;

margin-bottom:14px;

border-radius:14px;

cursor:pointer;

transition:.35s;

font-size:16px;

color:#ddd;

text-decoration:none;

}

.sidebar a:hover{

background:#8f45ff;

color:#fff;

transform:translateX(6px);

}

.sidebar .active{

background:#8f45ff;

}

.main{

margin-left:260px;

width:100%;

padding:35px;

}

.top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

}

.top h1{

font-size:36px;

font-weight:700;

}

.profile{

display:flex;

align-items:center;

gap:18px;

}

.avatar{

width:55px;

height:55px;

border-radius:50%;

background:linear-gradient(135deg,#7b3cff,#00b8ff);

display:flex;

justify-content:center;

align-items:center;

font-weight:bold;

font-size:20px;

}

.stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin-top:25px;

}

.box{

background:rgba(255,255,255,.04);

border:1px solid rgba(255,255,255,.08);

border-radius:22px;

padding:30px;

transition:.35s;

backdrop-filter:blur(15px);

}

.box:hover{

transform:translateY(-8px);

box-shadow:0 0 30px rgba(143,69,255,.35);

}

.box h2{

font-size:36px;

margin-bottom:10px;

}

.box span{

color:#aaa;

}
